{% extends 'base.html' %}

{% block content %}

<section class="container mx-auto mb-40 p-5">
    <h1 class="text-xl text-blue-500 ml-20">Read our Blog posts here, older or recent...</h1>
    <div class="text-justify my-5 max-w-4xl mx-auto flex flex-col items-center justify-center">
        <p>
            In 2022,we visited Bomachoge Borabu sub-county in Kisii county to create demand and awareness on HIV prevention, GBV matters, family planning rape and post rape medical emergency services, sexual reproductive health and rights, and life skills. We reached a total of 71 women. We were assisted by two medical officers from Magena Health Center who talked about teenage pregnancy mental health and GBV. We also had an HTS counsellor who screened girls and advised them to do HIV testing. The girls were mobilized by community volunteers.  
            <br>

            <br>
            Risper Nyakara: AGYW Mentorship program at Moticho ward,South Mugirango sub-county in September 2022 helped learners to defend and protect  themselves against rape. We also learned how to behave and relate with each other through life skills. We wish for the program to continue at least every season and there be an increase in the number of participants per group.
        </p>

    </div>
    <p class="text-xl ml-20 text-blue-500" >More Articles</p>

</section>
{% endblock %}