{% extends 'base.html' %}

{% block content %}

<section class="w-full font-Inter">
    <div class="h-[70vh]">
        <div class="absolute bg-black/10 w-full h-[70vh] text-white flex items-center justify-center text-2xl z-0">
            <p class="animate__animated animate__bounceInLeft">DAUWOYE<span class="text-blue-600 text-3xl"> .</span> OUR IMPACT</p>

        </div>
        <img class="w-full h-[inherit] object-cover" src="{{url_for('static', filename='media/Campaignings.jpg')}}" />

    </div>
    <p class="text-2xl text-center py-5">We are always championing for various causes within the country and in Kisii.</p>
        
            <div class="p-5 mx-10 flex items-center space-x-5 text-lg max-md:flex-col">
                <img class="w-[400px] h-[300px]" src="{{url_for('static', filename='media/reception.jpeg')}}" />
            
                <p class="text-justify"><span class="text-xl text-blue-600">Health Care Program</span><br >
                    As an organization, we have one health facility with her annex, which<br>
                    offer medical services where we provide treatment of primary illness.<br> We treat out patients but our facilities are currently being prepared for<br> inpatients as well. These are for income generation and sustainability.<br>
                    To learn more about the services, kindly visit our Health Care Center<br> in
                    Kisii Town both in Mwembe and Daraja Mbili.
                    <br>
                    Our health facility was recognized by TIKO project supported by<br> Triggerise as the best health facility in kisiicounty.Taking small steps<br> every day with quest of making our society better where human rights<br> are respected and promoted
                </p>

            </div>

            <div class="p-5 flex flex-row-reverse items-center gap-x-5 text-lg max-md:flex-col" >
                <img class="w-[400px] h-[300px]" src="{{url_for('static', filename='media/HIV.jpg')}}" />
            
                <p><span class="text-xl text-blue-600 text-left">HIV Awareness</span><br >
                HIV is a menace in the country and around the world and as such, <br>We pride ourselves in raising awareness in HIV prevention in order<br> to curb its spread within the country. </p>

            </div>

            <div class="p-5 flex items-center space-x-5 text-lg max-md:flex-col">
                <img class="w-[400px] h-[300px]" src="{{url_for('static', filename='media/GBV.jpg')}}" />
            
                <p><span class="text-xl text-blue-600">Gender Based Violence</span><br >
                    DAUWOYE engages community leadership to educate them that<br> there are better ways of solving conflicts other than violence.<br> We also campaign for laws and policies that protect and<br> promote women's rights. </p>

            </div>
            <div class="p-5 flex flex-row-reverse items-center gap-x-5 text-lg max-md:flex-col" >
                <img class="w-[400px] h-[300px]" src="{{url_for('static', filename='media/Rights.jpg')}}" />
            
                <p><span class="text-xl text-blue-600 text-left">Advocacy Program</span><br >
                    We collaborate and network with other organizations like<br> the Human
                    Rights Organizations and Reproductive Health<br> Network to amplify the voices of women and youths.<br> Through capacity building, we always champion for laws <br>and policies that accommodate women's views and are<br> co-opted on decision-making. We educate the youths and girls<br> to know and make use of their rights. We do mobilization at the <br>grassroots through communiy outreaches to raise awareness.</p>

            </div>

            <div class="p-5 flex items-center space-x-5 text-lg max-md:flex-col">
                <img class="w-[400px] h-[300px] object-cover" src="{{url_for('static', filename='media/schools.jpg')}}" />
            
                <p><span class="text-xl text-blue-600">Education</span><br >
                    Through our partners, we were able to give 200 girls<br> uniforms, shoes, and school bags to ensure they go<br> back to school. Every child deserves an opportunity to<br> go to school.
                    We help vulnerable young girls and boys within<br> the society get access to education with all the required equipment. </p>

            </div>

            <div class="p-5 flex flex-row-reverse items-center gap-x-5 text-lg max-md:flex-col" >
                <img class="w-[400px] h-[300px]" src="{{url_for('static', filename='media/Business.jpg')}}" />
            
                <p><span class="text-xl text-blue-600 text-left">Socio-economic</span><br >
                    We identify vulnerable youths, mostly teenage mothers who<br> access training and
                    mentorship on entrepreneurship. After that,<br> we offer them seed grants through our partners to attain self-<br>reliance. DAUWOYE does a follow up on the women they<br> empower to ensure that
                    they do not lag and improve their lives<br> and that of their families </p>

            </div>

</section>

{% endblock %}