{% extends 'base.html' %}

{% block content %}

<section class="w-full font-Inter">
        <div class="h-[70vh]">
            <div class="absolute bg-black/30 w-full h-[70vh] text-white flex items-center justify-center text-2xl">
                <p>DAUWOYE<span class="text-blue-600 text-3xl"> .</span> VACANCY</p>
    
            </div>
            <img class="w-full h-[inherit] object-cover" src="{{url_for('static', filename='media/Trainees.jpeg')}}" />
    
        </div>
        <div class="w-[300px] h-[200px] border-2 border-green-300 mt-10 flex justify-center items-center mx-auto">
            <h2 class="text-center text-xl">Thank you for showing interest in our work, We have no openings currently but if you would like to volunteer with us, click <a class="underline text-blue-600" href="{{url_for('contact')}}">here</a></h2>
        </div>
</section>


{% endblock %}